<footer class="bg-black text-center text-white" id="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Interested in hiring the author? Get in touch:
        <a class="red-hover" target="_blank"
            href="https://www.linkedin.com/in/jakub-dejnek-385935197/">LinkedIn</a> /
        <a class="red-hover" href="mailto:jkdejnek@gmail.com">Email</a> /
        <a class="red-hover" href="https://mdbootstrap.com/">GitHub</a> /
        <a class="red-hover" href="https://mdbootstrap.com/">Personal website</a>
    </div>
</footer>