<% layout('layouts/boilerplate') %>

<div class="container h-100" style='margin-top: 10rem;'>
    <div class="row">
        <div class="col-6 offset-3 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center my-4">Sorry dawg</h2>
            <p class="text-justify my-4">I had to ditch the idea of having other brands on the website. The lightning and resolution of the pictures don't fit the ones from Nike.</p>
            <p class="text-justify my-4">I put a lot of work into that navbar though and it looks kinda empty with just 2 list items.</p>
            <p class="text-justify my-4">If you're in the mood for some New Balance, I'd recommend their <a href="https://www.newbalance.com/">official website</a>.</p>
            <p class="text-justify my-4">Thanks</p>
            <a role="button" href="/items" class="btn btn-outline-danger my-4">Get yourself some Jordans, they're better anyway</a>
        </div>
    </div>
</div>