<% layout('layouts/boilerplate') %>

    <div class="err-container">
        <div class="damn mb-1"><h1>Sheesh</h1></div>
        <div class="thats">that's a</div>
        <div class="status py-4 display-1 text-danger">404</div>
        <div class="seems py-3">It appears that the page you were looking for <span class="text-danger"> does not exist</span></div>
        <div class="or">or</div>
        <div class="middle py-3">I fucked something up in my middleware</div>
        <div class="either py-5">either way</div>
        <div class="sorry">sorry</div>
        <div class="fix pb-5 text-muted">I'll try to fix it</div>
        <a class="btn btn-outline-danger" role="button" href="/items">Return to home page</a>
    </div>
